@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Janglee Shop</h1>
    <p>Nơi mua sắm <a class="blue-text"> An toàn - Tiện lợi - Nhanh chóng</a>.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5">
                <div class="card">
                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-5">
                <div class="text-left">
                    <div class="justify-content-center">
                        <form class="form-elegant">
                            <div class="card">
                                <div class="card-body mx-4">
                                    <div class="text-center">
                                        <h3 class="dark-grey-text mb-5">
                                            <strong>Sign in</strong>
                                        </h3>
                                    </div>

                                    <div class="md-form">
                                        <input type="text" required="" name="txtUsername" id="username" class="form-control">
                                        <label class="">Username</label>
                                    </div>

                                    <div class="md-form pb-3">
                                        <input type="password" required="" name="txtPassword" id="password" class="form-control">
                                        <label>Password</label>
                                    </div>

                                    <div class="text-center mb-3">
                                        <button type="submit" class="btn btn-outline-light-blue btn-block btn-rounded z-depth-1a waves-effect waves-light" style="border-radius: 30px;">Sign in</button>
                                    </div>
                                    <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with</p>

                                    <div class="row my-3 d-flex justify-content-center">
                                        <a class="btn btn-white btn-rounded mr-md-3 z-depth-1a waves-effect waves-light" style="border-radius: 30px;">
                                            <i class="fab fa-facebook-f blue-text text-center"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="modal-footer mx-5 pt-3 mb-1">
                                    <p class="font-small grey-text d-flex justify-content-end">
                                        Not a member?
                                        <a href="#" class="blue-text ml-1" data-toggle="modal" data-target="#signupModal">Sign Up</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
